.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(210, 187, 250);
    display: inline-block;
}

.node-end {
    background-color: rgb(241, 71, 71);
}

.node-start {
    background-color: rgb(26, 134, 26);
}

.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes visitedAnimation {
    0% {
      background-color: rgba(56, 0, 66, 0.75);
    }
  
    50% {
      background-color: rgba(74, 17, 217, 0.75);
    }
  
    100% {
      background-color: rgba(124, 0, 218, 0.75);
    }
  }

.node-shortest {
    animation-name: shortestPath;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: rgb(106, 109, 255);
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(111, 106, 255);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(116, 106, 255);
    }
  }